.ps{
    position: absolute;
    left: 800px;
    top: 100px;
    font-size: 30px;
    color: hotpink;

}
.id{
    position: absolute;
    left: 300px;
    top: 100px;
    font-size: 20px;
}
.droit{
    position: relative;
    right: -650px;
    bottom:-20px;
}

h1{
    text-align: center;
    color: deeppink;
}
.verticale{
    border-right: 4px solid hotpink;
    height: 850px;
    display: inline-table;
}
section{
    position: absolute;
    bottom: -450px;
}
.police{
    font-size: 20px;
}
.pp{
    font-size: 22px;
}
.dp{
    position: relative;
    left: 100;
}
h2{
    position: absolute;
    left: 300px;
    top: 50px;
}
form{
    position: absolute;
    right: 50%;
    left: 50%;
    border-radius: 100%;
    background: iStock -1212064060__w 630em;
}
body{
    background-image: url(69861296_101822341203126_4747572212372865024_n.png);
    background-size: cover;
}